.on,.off{
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: none;
    margin: var(--size);
}
.on {
    background: #df5ba8;;
}

.off {
    background-color:#4c374e;
}
