.on,.off{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: none;
    justify-content: center;
    margin: var(--size*2);
}
.on {
    background: #df5ba8;;
}

.off {
    background-color:#4c374e;
}

/*
width: var(--size*3);
height: var(--size*3);
*/