.Title {
    font-size: calc(var(--size)*20);
    letter-spacing: 3px;
    margin-bottom: var(--size);
    align-items:flex-start;
    flex-direction: column;



    .lights {
        color:#ffffff;
        font-size: 2rem;

    }

    .out {
        color:darkgoldenrod;
        justify-content: right;
        transform:rotate(90deg);
        font-size: 1.7rem;
            }
}