.Title {
    font-size: calc(var(--size)*25);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: var(--size);
    align-items:flex-start;
    flex-direction: row;
}



    .lights {
        color:#ffffff;
        letter-spacing: 3px;
        align-items:center;
        font-size: 2rem;

    }

    .out {
        color:darkgoldenrod;
        align-items:left;
        align-content:flex-start;
        justify-content: right;
        transform:rotate(90deg);
        font-size: 2rem;
            }
