.Game {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border-radius: 10px;*/
    padding: 10px;
    height: 500px;
    width: 400px;
    box-shadow: 
        0 0 calc(1*var(--size)) #000,
        0 0 calc(5*var(--size)) #fff;
    background-color: #919191;
}

.row {
    display: flex;
    height: 50%;
    width: 400px;
    justify-content: space-between;
}

.won {
    color: white;

    font-size: calc(2*var(--size));
    letter-spacing: 2px;
    margin-bottom: 0;
    padding: 0 var(--size);

    text-shadow: 
        0 0 calc(1*var(--size)) white,
        0 0 calc(2*var(--size)) white,
        0 0 calc(4*var(--size)) white;
}

@keyframes purplepink {  
    0% { background-color: #4c374e; }
    50% { background-color: #4c374e; }
    51% { background-color: #df5ba8; }
    100% { background-color: #df5ba8; }
  }
  
  .blinkdiv {
    background-color: #4c374e;
    animation-name: purplepink;
    animation-iteration-count: calc(1);  
    animation-duration: 0.4s; 
  } 

  .nonblinkdiv {
    background-color: #4c374e;
  }