.Game {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border-radius: 10px;*/
    padding: 10px;
    height: 500px;
    width: 400px;
    box-shadow: 
        0 0 calc(1*var(--size)) #000,
        0 0 calc(5*var(--size)) #fff;
    background-color: #919191;
}

.row {
    display: flex;
    height: 50%;
    width: 400px;
    justify-content: space-between;
}

.won {
    color: white;

    font-size: calc(2*var(--size));
    letter-spacing: 2px;
    margin-bottom: 0;
    padding: 0 var(--size);

    text-shadow: 
        0 0 calc(1*var(--size)) white,
        0 0 calc(2*var(--size)) white,
        0 0 calc(4*var(--size)) white;
}

@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.flash {
    animation: flash 1s infinite;
}